{
  "extends": "../.eslintrc",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "mocha": true,
    "protractor": true,
    "jasmine": true
  },
  "globals": {
    "_": false,
    "angular": false,
    "inject"
  }
}
