<div class="thumbnail">
  <a ng-click="goToMediaDetails(media._id)" href>
    <img ng-src="{{thumbnail}}">
  </a>
  <div class="caption">
    <p>IMDB: {{media.imdbRating}}</p>
    <p ng-if="media.tomatoMeter !== 'N/A' && media.tomatoMeter !== 'NA'">Rotten Tomatoes {{media.tomatoMeter}}% fresh</p>
    <p><button ng-if="!media.inWatchlist" ng-click="modifyWatchlist(media, true)" class="btn btn-primary">+Watchlist</button>
      <button ng-if="media.inWatchlist && isLoggedIn" ng-click="modifyWatchlist(media, false)" class="btn btn-danger">-Watchlist</button>
    </p>
  </div>
</div>
