
.navbar-text {
  margin-left: 15px;
}

.thumbnail {
  .caption {
    font-size: 13px;
    font-weight: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .image {
    height: 359px;
    background-position: 50% 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #000;
  }
}
