<img ng-if="showCtrl.show.banners.length" class="banner" ng-src="{{showCtrl.show.banners[0].xlarge.url}}">
<div class="container">
  <div class="row">
    <h1>{{showCtrl.show.title}}</h1>
  </div>
  <div class="row">
    <div class="col-md-4">
      <img ng-src="{{showCtrl.show.artwork608X342}}" class="img-responsive">
    </div>
    <div class="col-md-4">
      <h1>Synopsis
        <button ng-click="showCtrl.addToWatchlist(showCtrl.show._id)" class="btn btn-primary">+Watchlist</button>
      </h1>

      <p>{{showCtrl.show.overview}}</p>
    </div>
    <dl class="dl-horizontal col-md-4">
      <dt>IMDB</dt>
      <dd><a target="_blank" ng-href="http://www.imdb.com/title/{{showCtrl.show.imdbId}}">{{showCtrl.show.imdbRating}} with
        {{showCtrl.show.imdbVotes}} votes</a>

      </dd>

    </dl>
  </div>
</div>
