<div class="container">

  <div class="row">
    <div ng-repeat="result in searchCtrl.results" class="col-md-4">
      <a ui-sref="movie({id: result.id})" class="thumbnail" href>
        <div ng-style="{'background-image': 'url(' + result.poster_400x570 + ')'}" class="image"></div>
        <div class="caption text-center">
            <span ng-show="result.title">
              {{ result.title }}
            </span>
          <span ng-hide="result.title">
              N/A
            </span>
        </div>
      </a>
    </div>
    <p ng-if="searchCtrl.loading">Loading...</p>
    <p ng-if="!searchCtrl.results.length && !searchCtrl.loading">No results...</p>
  </div>
</div>
