<div class="container">
  <h2>Movies</h2>
  <div class="row">
    <div ng-repeat="media in searchCtrl.movies" class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
      <media-card-directive media-type="movie" media="media" watchlist="searchCtrl.watchlist"></media-card-directive>
    </div>
    <p ng-if="searchCtrl.loading">Loading...</p>
    <p ng-if="!searchCtrl.movies.length && !searchCtrl.loading">No results...</p>
  </div>
  <h2>Shows</h2>
  <div class="row">
    <div ng-repeat="media in searchCtrl.shows" class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
      <media-card-directive media-type="show" media="media" watchlist="searchCtrl.watchlist"></media-card-directive>
    </div>
    <p ng-if="searchCtrl.loading">Loading...</p>
    <p ng-if="!searchCtrl.shows.length && !searchCtrl.loading">No results...</p>
  </div>
</div>
